@model System.Collections.Generic.List<FilmData.Web.Models.DbActor>

@{
    ViewData["Title"] = "Актеры";
}

<h2>Актеры</h2>

<table class="table table-bordered table-responsive table-hover">
    <thead>
    <tr>
        <td style="width: 260px">Фото</td>
        <td >Имя</td>
    </thead>
    @foreach (var actor in Model)
    {
        <tr>
            <td><img src="ActorImage?id=@actor.Id" width=250 /></td>
            <td><h2><a href="Actor?id=@actor.Id">@actor.FirstName @actor.LastName</a></h2>
                <h4>@actor.Dob.ToString("dd.MM.yyyy")</h4></td>
        </tr>
    }
</table>